body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

/* for in pages or components */

.container {
  padding: 30px 20px;
}

/* all form and inputs */

.form_global {
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
}

.form_global 
input, 
label, 
textarea {
  display: block;
}

.form_global label {
  font-weight: 600;
  font-size: 20px;
}

.form_global input {
  outline: none;
  border: none;
  border-bottom: 1px solid #22222250;
  width: 100%;
  margin: 10px 0;
  padding: 10px 3px;
}

.form_global input:focus {
  border-bottom: 1px solid #2222228f;
}

.button_global {
  background-color: #1877F2;
  color: #fff;
  font-size: 19px;
  border: none;
  cursor: pointer;
  display: block;
  transition: .5s;
  width: 100%;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0 0 10px #22222228;
}

.button_global:hover  {
  background-color: #0b58bd; 
}


/* messages */

.message_error {
  background-color: #cc1130d0;
  color: #fcfcfce3;
  padding: 10px;
  margin: 10px 0;
  transition: .5s;
}

.loading {
  background-color: #1876f2cb;
  color: #fff;
  display: block;
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
}

.link_reload_page {
  display: block;
  margin: 10px 0;
}